<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <!-- HTML Meta Tags -->
<title>Decagon Week6 POD a Task</title>
<meta name="description" content="Decagon Week6 POD a Task">

<!-- Facebook Meta Tags -->
<meta property="og:url" content="https://www.byeindonesia.com/">
<meta property="og:type" content="website">
<meta property="og:title" content="Decagon Week6 POD a Task">
<meta property="og:description" content="Decagon Week6 POD a Task">
<meta property="og:image" content="https://blog.capterra.com/wp-content/uploads/2019/10/HEAD_-_10_CRM_Features_and_why_you_need_them_-_Hero_no_text_international-1200x630.png">

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta property="twitter:domain" content="byeindonesia.com">
<meta property="twitter:url" content="https://www.byeindonesia.com/">
<meta name="twitter:title" content="Decagon Week6 POD a Task">
<meta name="twitter:description" content="Decagon Week6 POD a Task">
<meta name="twitter:image" content="https://blog.capterra.com/wp-content/uploads/2019/10/HEAD_-_10_CRM_Features_and_why_you_need_them_-_Hero_no_text_international-1200x630.png">

<!-- Meta Tags Generated via https://www.opengraph.xyz -->
  </head>
  <body>
    <div class="container">
      <h2><%= title %></h2>
   <form action="/update" method="post">
    <div class="form-group" >
        <input type="text" class="form-control" id="customerid" value="<%= customer.customerid %>" name="id">
        <label for="fullname">Full Name:</label>
        <input type="text" class="form-control" id="fullname" value="<%= customer.fullname %>" name="fullname">
    </div>

    <div class="form-group" >
        <label for="email">Email:</label>
        <input type="email" class="form-control" id="email" value="<%= customer.email %>" name="email">
    </div>

    <div class="form-group" >
        <label for="gender">Gender:</label>
        <input type="text" class="form-control" id="gender" value="<%= customer.gender %>" name="gender">
    </div>

    <div class="form-group" >
        <label for="phone">Phone Number:</label>
        <input type="text" class="form-control" id="phone" value="<%= customer.phone %>" name="phone">
    </div>

    <div class="form-group" >
        <label for="address">Home Address:</label>
        <input type="text" class="form-control" id="address" value="<%= customer.address %>" name="address">
    </div>

    <div class="form-group" >
        <label for="notes">Leave a Note:</label>
        <input type="text" class="form-control" id="notes" value="<%= customer.notes%>" name="notes">
    </div>

    <button type="submit" class="btn btn-primary">Update Record</button>
   </form>
    
    </div>
    <script src="./app.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
